@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('./woff2/Pretendard-Black.woff2') format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('./woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('./woff2/Pretendard-Medium.woff2') format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}

.logo {
    width: 34px;
    height: 20px;
    fill: #E30B0B;
    padding-left: 60px;
    padding-top: 56px;
}

.hello {
    padding: 56px 0px 50px 60px;
    color: #ff4F;
    width: 834px;
    height: 185px;
    font-size: 30px;
    font-style: 'Pretendard Black';
    font-family: 'Pretendard';
}

.sns {
    color: #FFF;
    padding: 60px 0px 5px 60px;
    font-family: Pretendard;
    font-size: 30px;
    font-style: 'Pretendard ExtraBold';
    font-weight: 800;
    width: 147px;
}

.entry {
    color: #FFF;
    padding: 0px 0px 10px 60px;
    font-family: Pretendard;
    font-size: 20px;
    font-style: 'Pretendard Medium';
    font-weight: 500;
}

.git {
    color: #FFF;
    padding: 0px 0px 10px 60px;
    font-family: Pretendard;
    font-size: 20px;
    font-style: 'Pretendard Medium';
    font-weight: 500;
}

.figma {
    color: #FFF;
    padding: 0px 0px 10px 60px;
    font-family: Pretendard;
    font-size: 20px;
    font-style: 'Pretendard Medium';
    font-weight: 500;
}

.youtube {
    color: #FFF;
    padding: 0px 0px 10px 60px;
    font-family: Pretendard;
    font-size: 20px;
    font-style: 'Pretendard Medium';
    font-weight: 500;
}