@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");

.logo {
    width: 34px;
    height: 20px;
    fill: #E30B0B;
    padding-left: 60px;
    padding-top: 56px;
}

.hello {
    padding: 56px 0px 50px 60px;
    color: #fff;
    width: 834px;
    height: 185px;
    font-size: 50px;
    font-weight: 900;
}

.sns {
    color: #FFF;
    padding: 60px 0px 5px 60px;
    font-family: Pretendard;
    font-size: 30px;
    font-weight: 800;
    width: 147px;
}

.link {
    color: #FFF;
    padding: 0px 0px 10px 60px;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 500;
}
